apiVersion: v1
kind: Service
metadata:
  name: fastapi-app-get-href-from-10-websites
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
spec:
  ports:
  - port: 80
    targetPort: 8888
    protocol: TCP
  selector:
    app.kubernetes.io/name: fastapi-app-get-href-from-10-websites
