apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
images:
- {}
- name: 312910855403.dkr.ecr.eu-west-1.amazonaws.com/huma-counter-href-10-sites
  newName: 312910855403.dkr.ecr.eu-west-1.amazonaws.com/huma-counter-href-10-sites
