# Default values for huma-counter-href-10-sites

replicaCount: 1

image:
  repository: 312910855403.dkr.ecr.eu-west-1.amazonaws.com/huma-counter-href-10-sites
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

container:
  name: huma-container
  port: 8888

readinessProbe:
  httpGet:
    path: /
    port: 8888
  initialDelaySeconds: 5
  periodSeconds: 10

livenessProbe:
  httpGet:
    path: /
    port: 8888
  initialDelaySeconds: 10
  periodSeconds: 20

service:
  type: ClusterIP
  port: 80
  targetPort: 8888

ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
    alb.ingress.kubernetes.io/target-group-attributes: stickiness.enabled=true
    alb.ingress.kubernetes.io/target-group-name: huma-multi-cluster-tg
    alb.ingress.kubernetes.io/load-balancer-attributes: routing.http.drop_invalid_header_fields.enabled=true
    alb.ingress.kubernetes.io/multi-cluster-target-group: "true"
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
